@import url('https://fonts.googleapis.com/css?family=Cabin');


body {
  font-size: 24px;
  font-family: 'Cabin', sans-serif;
}

input.newWord {
  font-size: 24px;
  font-family: 'Cabin', sans-serif;
}

div#fridge {
  display: flex;
  flex-flow: row wrap;
  width: 600px;
  height: auto;
  min-height: 700px;
  margin: auto;
  border: 1px solid green;
  z-index: -999;
  user-select: none;
}

div.word {
  /*position: relative;*/
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
  background-color: rgba(255,255,255,0.7);
  border: 1px solid black;
  width: auto;
  height: 20px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
  user-select: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

div#newF {
  display: flex;
  flex-flow: row wrap;
  width: 600px;
  height: auto;
  margin: auto;
  border: 1px solid green;
}
