body {
  font-size: 20px;
	background-color: black;
	font-family: 'Inconsolata', monospace;
	background: #000428;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

div.roomFull {
	display: inline;
	width: 90%;
	height: 90%;
	display: flex;
	flex-flow: column nowrap;
	text-align: center;
	justify-content: center;
	color: silver;
	padding: 0px 20px;
  margin: 0px auto;
}

li {
  font-size: 1em;
}

div.roomFull h1 {
	font-size: 4em;
	color: rgba(255,19,100,1.0);
}

div.roomFull p {
	margin: 10px;
	font-size: 1.7em;
}

div.roomFull a {
	color: tomato;
}

div.roomFull a:hover {
	color: gold;
}
